/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*----------- HEADER --------------*/
header {
    margin: 2%;
    img {
        width: 50%;
    }
}

/*----------- NAV --------------*/
#navBackground {
    background-color: #004687;
}
nav {
    z-index: 998;
    position: relative;
    width: 130%;
}
nav .hamburger-btn {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
.hide-small {
    display: none;
}
.hide-sub {
    display: none;
}
nav ul li ul {
    display: block;
}
.search-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 10px;
    margin-top: 8px;
    margin-right: 5px;
    form input {
        width: 120px;
    }
    form.search-form {
        .search-button {
            float: right;
        }
        .search-bar {
            float: right;
        }
        input[type=text] {
            height: 25px;
            border: 1px solid grey;
            margin: 0;
            padding: 0;
            font-size: 0.8rem;
            background: #f1f1f1;
        }
        button {
            height: 25px;
            margin: 0;
            font-size: 0.8rem;
            background: #2196F3;
            color: white;
            border: 1px solid grey;
            border-left: none; 
            cursor: pointer;
        }
        button:hover {
            background: #0b7dda;
        }
    }
}
ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}
ul li {
    display: block;
    position: relative;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
}
ul li a:hover {
    background-color: rgb(0,0,0);
}
li:hover > ul {
    z-index: 998;
    padding-left: 40px;
}
li:hover li {
    float: none;
}
li:hover a {
    background-color: #004687;
}
li:hover li a:hover {
    background-color: rgb(0,0,0);
}
.main-navigation li ul li {
    border-top: 0;
}
ul ul ul {
    left: 100%;
    top: 0; 
}

ul:before,
ul:after {
    content: " "; 
    display: table; 
}

ul:after {
    clear: both;
}

/*----------- MAIN --------------*/
main {
    .img-slider {
        picture {
            width: 100%;
            margin: 0;
            img {
                width: 100%;
                margin: 0;
            }
        }
    }
    
    .blog {
        padding-left: 2%;
        padding-right: 2%;
        h3 {
            padding: 1%;
            background-color: #B72126;
            color: white;
            margin-bottom: 0;
        }
        .articles-parent {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            picture {
                position: relative;
                width: 98%;
                margin: 1%;
                margin-top: 0;
                img {
                    width: 100%;
                }
                h6 {
                    position: absolute;
                    margin-bottom: 1rem;
                    bottom: 0;
                    padding: 1%;
                    background-color: rgba(255, 255, 255, 0.6);
                }
                div {
                    padding: 1%;
                    width: 100%;
                    position: absolute;
                    bottom: 4px;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: white;
                    font-size: 0.5rem;
                }
            }
        }
        
    }
}

/*----------- FOOTER --------------*/
#footerWrapper {
    background-color: #004687;
}
footer {
    margin-top: 2%;
    padding: 2%;
    color: white;
    h4 {
        margin: 4% 0 2% 0;
    }
    a {
        color: white;
    }
    h6 {
        margin: 0;
    }
    p {
        font-size: 0.6rem;
        margin: 0;
    }
    input {
        font-size: 0.8rem;
        margin-top: 1%;
    }
    button {
        font-size: 0.8rem;
        width: 165px;
        margin-top: 1%;
        border-radius: 8px;
    }
    .footer-ending {
        padding-top: 5%;
        text-align: center;

        .social {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a {
                flex: 0 0 30%;
                img {
                    width: 40px;
                }
            }
        }
    }
    .copyright {
        margin-top: 5%;
        text-align: center;
    }
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
