
header, nav, main, footer {
    max-width: 64rem;
    margin: auto;
}

.navWrapper {
    max-width: 64rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64rem;
}

/*----------- HEADER --------------*/
header {
    img {
        width: 25%;
    }
}

/*----------- NAV --------------*/

/*----------- MAIN --------------*/
.card-parent {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*----------- FOOTER --------------*/
footer {
    margin-top: 3%;
}
