

    /*----------- HEADER --------------*/
    header {
        position: relative;
        h3 {
            color: black;
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 5px;
        }
        img {
            width: 33%;
        }
    }
    
    /*----------- NAV --------------*/
    nav .hamburger-btn {
        display: none;
    }
    .hide-small {
        display: block;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
    }
    .search-container {
        width: 30%;
    }
    
    
    /*----------- MAIN --------------*/
    .card-parent {
        grid-template-columns: 1fr 1fr;
    }
    picture div {
        font-size: 1rem;
    }
    
    /*----------- FOOTER --------------*/
    footer {
        font-size: 1rem;
    }
