/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*----------- HEADER --------------*/
header {
    margin: 2%;
    img {
        width: 50%;
    }
}

/*----------- NAV --------------*/
#navBackground {
    background-color: #73b1e7;
}
nav .hamburger-btn {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hide-small {
    display: none;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover {
    background-color: rgba(0,0,0, 0.4);
    color: white;
}
.search-container {
    float: right;
    width: 50%;
    margin-top: 8px;
    margin-right: 5px;
    form.search-form input[type=text] {
        border: 1px solid grey;
        float: left;
        width: 70%;
        font-size: 0.8rem;
        background: #f1f1f1;
    }
    
    form.search-form button {
        float: left;
        width: 30%;
        font-size: 0.8rem;
        background: #2196F3;
        color: white;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;
    }
    form.search-form button:hover {
        background: #0b7dda;
    }
}

/*----------- HAMBURGER --------------*/
div#hamburger {
    grid-area: hamburger;
    background-color: black;
    a {
        color: white;
    }
}

/*----------- MAIN --------------*/
main {
    .img-slider {
        picture {
            width: 100%;
            margin: 0;
            img {
                width: 100%;
                margin: 0;
            }
        }
    }
    
    .blog {
        padding-left: 2%;
        padding-right: 2%;
        .articles-parent {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            picture {
                position: relative;
                width: 98%;
                margin: 1%;
                img {
                    width: 100%;
                }
                h6 {
                    position: absolute;
                    margin-bottom: 1rem;
                    bottom: 2px;
                    padding: 1%;
                    background-color: rgba(255, 255, 255, 0.6);
                }
                div {
                    padding: 1%;
                    width: 100%;
                    position: absolute;
                    bottom: 4px;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: white;
                    font-size: 0.5rem;
                }
            }
        }
        
    }
}

/*----------- FOOTER --------------*/
#footerWrapper {
    background-color: #73b1e7;
}
footer {
    margin-top: 2%;
    padding: 2%;
    color: white;
    h4 {
        margin: 4% 0 2% 0;
    }
    a {
        color: white;
    }
    h6 {
        margin: 0;
    }
    p {
        font-size: 0.6rem;
        margin: 0;
    }
    input {
        font-size: 0.8rem;
        margin-top: 1%;
    }
    button {
        font-size: 0.8rem;
        width: 165px;
        margin-top: 1%;
        border-radius: 8px;
    }
    .footer-ending {
        padding-top: 5%;
        text-align: center;
    }
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
